@model IEnumerable<CHIBB.Sensors>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sensorname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sensortype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sensorcomment)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sensorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensortype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensorcomment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Identifier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Identifier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Identifier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
