@model IEnumerable<CHIBB.Sensorvalues>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sensordata)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datadate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ipadress)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentifierNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sensordata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datadate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ipadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentifierNavigation.Identifier)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Valuekey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Valuekey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Valuekey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
